<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntTweakBar" version="1.16.3" targetFramework="native" />
  <package id="AntTweakBar.redist" version="1.16.3" targetFramework="native" />
  <package id="Eigen" version="3.3.3" targetFramework="native" />
  <package id="glm" version="0.9.8.5" targetFramework="native" />
  <package id="nupengl.core" version="0.1.0.1" targetFramework="native" />
  <package id="nupengl.core.redist" version="0.1.0.1" targetFramework="native" />
</packages>